.owncloudsync.log
.sync_96dadc80b073.db
.sync_96dadc80b073.db-wal
.sync_96dadc80b073.db-shm
package-lock.json
Desktop.ini
node_modules/
src/client.js
src/testUnit/
src/location.js
src/samplecode.js
src/octoprint.client.*.js
src/location.bak