node_modules/
package-lock.json
src/client.js
.owncloudsync.log
.sync_96dadc80b073.db
.sync_96dadc80b073.db-wal
Desktop.ini
.sync_96dadc80b073.db-shm
src/testUnit/
src/roundslider.min.css
src/roundslider.min.js
src/samplecode.js
src/octoprint.client.1.8.4.js
