@sunshine:  	#FFDC00;
@rescueorange:	#EA5405;
@flameorange:	#EE7700;
@ceruleanblue:	#008DB7;
@forestleaf:	#008554;
@lapislazuli:	#261F87;
@skyhigh:		#51A5DC;
@peleskyblue:	#C2E5F9;

body {
	overflow:					hidden;
}
.content-counter {
	position:					fixed;
}

.main-window {
	position:					absolute;
	top:						0px;
	left:						0px;
	height:						240px;
	width:						400px;
	color:						@sunshine;
	background-color:			@ceruleanblue;
	-webkit-app-region:			drag;
	z-index:					80;
	cursor:						default;
	.basebody {
		position:				absolute;
		top:					0px;
		left:					0px;
		height:					240px;
		width:					400px;
		z-index:				0;
		background-color:			@ceruleanblue;
	}
	.nav-fire-space {
		position:				absolute;
		width:					40px;
		.nav-fire-title {
			height:				24px;
			text-align:			center;
			font-size:			9pt;
		}
		.nav-fire-target {
			height:				16px;
			font-size:			12px;
			text-align:			center;
		}
		.nav-fire-icon {
			height:				35px;
			font-size:			24pt;
			text-align:			center;
			color:				@sunshine;
			-webkit-app-region:	no-drag;
			cursor:				default;
		}
		.nav-fire-value {
			height:				16px;
			font-size:			12px;
			text-align:			center;
		}
	}
	.pos-fire-tool {
		left:					110px;
		top:					40px;
	}
	.pos-fire-bed {
		left:					168px;
		top:					40px;
	}
	.pos-fan-speed {
		left:					226px;
		top:					40px;
	}
	.pos-printer {
		left:					52px;
		top:					40px;
	}
	.progress {
		position:				absolute;
		left:					32px;
		top:					150px;
		width:					250px;
		z-index:				70;
	}
	.complete {
		position:				absolute;
		top:					150px;
		left:					292px;
		z-index:				70;
	}
	.printtime {
		position: 				absolute;
		top:					175px;
		left:					130px;
		font-weight:			bold;
		.printtime-value {
			width:				80px;
			text-align:			right;
		}
	}
	.nav-file-name {
		position:				absolute;
		left:					32px;
		top:					8px;
		display:				table;
		font-size:				16pt;
		height:					32px;
		.nav-jobname {
			display:			table-cell;
			vertical-align:		middle;
		}
		.nav-off {
			display:			table-cell;
			vertical-align:		bottom;
			-webkit-app-region:	no-drag;
			cursor:				auto;
		}
	}
	.main-triangle-left {
		position:			absolute;
		display:			table;
		height:				240px;
		width:				24px;
		top:				0px;
		left:				0px;
		-webkit-app-region:	no-drag;
		cursor:				default;
		.main-triangle-left-mark {
			display:		table-cell;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
	.main-triangle-right {
		position:			absolute;
		display:			table;
		height:				240px;
		width:				24px;
		top:				0px;
		left:				376px;
		-webkit-app-region:	no-drag;
		cursor:				default;
		.main-triangle-right-mark {
			display:		table-cell;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
	.main-triangle-down {
		position:			absolute;
		display:			table;
		height:				24px;
		width:				400px;
		bottom:				0px;
		left:				0px;
		-webkit-app-region:	no-drag;
		cursor:				default;
		.main-triangle-down-mark {
			display:		table-cell;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
	.slider-panel-tool {
		position:			absolute;
		height:				200px;
		width:				200px;
		left:				100px;
		top:				20px;
		border-radius:		10px;
		background-color:	@lapislazuli;
		z-index:			-1;
		-webkit-app-region:	no-drag;
		.slider {
			position: 		absolute;
			left:			35px;
			top:			35px;
		}
		.slider-text {
			position:		absolute;
			display:		table-cell;
			width:			200px;
			height:			20px;
			padding-top:	10px;
			text-align:		center;
			color:			@sunshine;
		}
		.tool-on-sw {
			position: 		absolute;
			width:			200px;
			bottom:			0px;
			font-size:		35px;
			text-align:		center;
			color:			@sunshine;
			z-index:		10;
		}
		.tool-on-remove {
			position:		absolute;
			top:			5px;
			right:			10px;
			text-align:		center;
			color:			@sunshine;
		}
	}
	.slider-panel-bed {
		position:			absolute;
		height:				200px;
		width:				200px;
		left:				100px;
		top:				20px;
		border-radius:		10px;
		background-color:	@lapislazuli;
		z-index:			-1;
		-webkit-app-region:	no-drag;
		.slider {
			position: 		absolute;
			left:			35px;
			top:			35px;
		}
		.slider-text {
			position:		absolute;
			display:		table-cell;
			width:			200px;
			height:			20px;
			padding-top:	10px;
			text-align:		center;
			color:			@sunshine;
		}
		.bed-on-sw {
			position: 		absolute;
			width:			200px;
			bottom:			0px;
			font-size:		35px;
			text-align:		center;
			color:			@sunshine;
			z-index:		10;
		}
		.bed-on-remove {
			position:		absolute;
			top:			5px;
			right:			10px;
			text-align:		center;
			color:			@sunshine;
		}
	}
}
.progress-bar-forestleaf {
	color:				@sunshine	!important;
	background-color:	@forestleaf	!important;
}

.nav-winctrl {
	position:				fixed;
	display:				table;
	right:					0px;
	top:					0px;
	color:					@sunshine;
	z-index: 				100;
	.nav-fullscreen {
		display:			table-cell;
		width:				24px;
		height:				24px;
		font-size:			10pt;
		text-align:			center;
		vertical-align:		middle;
		-webkit-app-region:	no-drag;
	}
	.nav-minimum {
		display:			table-cell;
		width:				24px;
		height:				24px;
		font-size:			12pt;
		text-align:			center;
		vertical-align:		middle;
	}
	.nav-remove {
		display:			table-cell;
		width:				24px;
		height:				24px;
		font-size:			12pt;
		text-align:			center;
		vertical-align:		middle;
		-webkit-app-region:	no-drag;
	}
}

.nav-submenu {
	position:					absolute;
	display:					table;
	right:						-285px;
	bottom:						15px;
	height:						52px;
	width:						304px;
	border-top-left-radius:		12px;
	border-bottom-left-radius:	12px;
	color:					@sunshine;
	background-color:			@lapislazuli;
	z-index:					95;
	.nav-triangle-sub {
		display:				table-cell;
		width:					20px;
		text-align:				center;
		vertical-align:			middle;
		-webkit-app-region:		no-drag;
	}
	.nav-move {
		display:				table;
		width:					48px;
		vertical-align:			bottom;
		.nav-move-icon {
			position:			absolute;
			left:				13px;
			top:				0px;
			height:				32px;
			width:				48px;
			font-size:			22pt;
			text-align:			center;
		}
		.nav-move-title {
			position:			absolute;
			display:			table-cell;
			left:				13px;
			top:				33px;
			height:				20px;
			width:				48px;
			font-size:			10pt;
			text-align:			center;
			vertical-align:		top;
		}
	}
	.nav-stats {
		display:				table;
		width:					48px;
		vertical-align:			bottom;
		.nav-stats-icon {
			position:			absolute;
			left:				61px;
			top:				0px;
			height:				32px;
			width:				48px;
			font-size:			22pt;
			text-align:			center;
		}
		.nav-stats-title {
			position:				absolute;
			display:				table-cell;
			left:					61px;
			top:					33px;
			height:					20px;
			width:					48px;
			font-size:				10pt;
			text-align:				center;
			vertical-align:			top;
		}
	}
	.nav-console {
		display:				table;
		width:					48px;
		vertical-align:			bottom;
		.nav-console-icon {
			position:			absolute;
			left:				109px;
			top:				0px;
			height:				32px;
			width:				48px;
			font-size:			22pt;
			text-align:			center;
		}
		.nav-console-title {
			position:			absolute;
			display:			table-cell;
			left:				109px;
			top:				33px;
			height:				20px;
			width:				48px;
			font-size:			10pt;
			text-align:			center;
			vertical-align:		top;
		}
	}
	.nav-cog {
		display:				table;
		width:					48px;
		vertical-align:			bottom;
		.nav-cog-icon {
			position:			absolute;
			left:				157px;
			top:				0px;
			height:				32px;
			width:				48px;
			font-size:			22pt;
			text-align:			center;
		}
		.nav-cog-title {
			position:			absolute;
			display:			table-cell;
			left:				157px;
			top:				33px;
			height:				20px;
			width:				48px;
			font-size:			10pt;
			text-align:			center;
			vertical-align:		top;
		}
	}
	.nav-log {
		display:				table;
		width:					48px;
		vertical-align:			bottom;
		.nav-log-icon {
			position:			absolute;
			left:				205px;
			top:				0px;
			height:				32px;
			width:				48px;
			font-size:			22pt;
			text-align:			center;
		}
		.nav-log-title {
			position:			absolute;
			display:			table-cell;
			left:				205px;
			top:				33px;
			height:				20px;
			width:				48px;
			font-size:			10pt;
			text-align:			center;
			vertical-align:		top;
		}
	}
	.nav-suspend {
		display:				table;
		width:					48px;
		vertical-align:			bottom;
		-webkit-app-region:		no-drag;
		.nav-suspend-icon {
			position:			absolute;
			left:				253px;
			top:				0px;
			height:				32px;
			width:				48px;
			font-size:			22pt;
			text-align:			center;
			-webkit-app-region:	no-drag;
		}
		.nav-suspend-title {
			position:			absolute;
			display:			table-cell;
			left:				253px;
			top:				33px;
			height:				20px;
			width:				48px;
			font-size:			10pt;
			text-align:			center;
			vertical-align:		top;
			-webkit-app-region:	no-drag;
		}
	}
}

.alert-panel {
	position:				absolute;
	display:				table;
	visibility:				hidden;
	height:					168px;
	width:					300px;
	left:					26px;
	top:					15px;
	border:					1px solid @flameorange;
	background-color:		@rescueorange;
	z-index:				100;
	.alert-text-area {
		display:			table-cell;
		height:				162px;
		width:				284px;
		left:				8px;
		top:				8px;
		text-align:			center;
		vertical-align:		middle;
	}
	.alert-ok {
		position:			absolute;
		display:			table-cell;
		width: 				64px;
		height:				24px;
		right:				8px;
		bottom:				8px;
		border-radius:		4px;
		color:				@sunshine;
		background-color:	@lapislazuli;
		text-align:			center;
		vertical-align:		middle;
		-webkit-app-region:	no-drag;
	}
}

.file-window {
	position:				absolute;
	display:				table;
	height:					240px;
	width:					400px;
	color:					@sunshine;
	background-color:		@ceruleanblue;
	z-index:				-1;
	.file-list-title {
		position:			absolute;
		left:				32px;
		top:				24px;
		height:				32px;
		width:				160px;
		font-size:			16pt;
		text-align:			right;
	}
	.file-list {
		position:			absolute;
		left:				32px;
		top:				56px;
		height:				160px;
		width:				160px;
		overflow-y:			scroll;
		font-size:			13pt;
		-webkit-app-region:	no-drag;
		.display-name {
			cursor:			pointer;
		}
		.left-btn {
			display:		table-cell;
			height:			24px;
			width:			24px;
			border:			1px solid @sunshine;
			border-radius:	5px 0px 0px 5px;
			text-align:		center;
			vertical-align:	middle;
		}
		.middle-btn {
			display:		table-cell;
			height:			24px;
			width:			24px;
			border-top:		1px solid @sunshine;
			border-bottom:	1px solid @sunshine;
			border-right:	1px solid @sunshine;
			text-align:		center;
			vertical-align:	middle;
		}
		.right-btn {
			display:		table-cell;
			height:			24px;
			width:			24px;
			border-top:		1px solid @sunshine;
			border-bottom:	1px solid @sunshine;
			border-right:	1px solid @sunshine;
			border-radius:	0px 5px 5px 0px;
			text-align:		center;
			vertical-align:	middle;
		}
	}
	.file-notice {
		position:			relative;
		height:				200px;
		width:				360px;
		left:				20px;
		top:				10px;
		color:				@sunshine;
		background-color:	@skyhigh;
		visibility:			hidden;
		.file-notice-text {
			position:		relative;
			height:			70px;
			width:			150px;
			left:			105px;
			top:			65px;
		}
	}
	.file-notice::after {
		content:			'';
		position:			absolute;
		top:				0;
		right:				0;
		width:				0;
		height:				0;
		border-style:		solid;
		border-color:		transparent @ceruleanblue @peleskyblue transparent;
		border-width:		0 25px 25px 0;
	}
	.information-panel {
		position:			absolute;
		left:				210px;
		top:				56px;
		Height:				156px;
		width:				160px;
		hr {
			margin:			0px;
			color:			@sunshine;
		}
		.title {
			height:			24px;
			font-size:		12pt;
		}
		.information-table {
			margin:			10px;
			width:			150px;
			font-size:		9pt;
			.right {
				text-align:	right;
			}
		}
	}
	.file-triangle-left {
		position:			absolute;
		display:			table;
		height:				240px;
		width:				24px;
		top:				0px;
		left:				0px;
		.file-triangle-left-mark {
			display:		table-cell;
			height:			100%;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
	.file-triangle-right {
		position:			absolute;
		display:			table;
		height:				240px;
		width:				24px;
		top:				0px;
		left:				376px;
		.file-triangle-right-mark {
			display:		table-cell;
			height:			100%;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
	.file-triangle-down {
		position:			absolute;
		display:			table;
		height:				24px;
		width:				400px;
		bottom:				0px;
		left:				0px;
		-webkit-app-region:	no-drag;
		cursor:				default;
		.file-triangle-down-mark {
			display:		table-cell;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
}
div::-webkit-scrollbar {
	background:			@ceruleanblue;
	width:				8px;
}
div::-webkit-scrollbar-thumb {
	background: 		@sunshine;
	border-radius:		5px;
}
.manu-window{
	position:				absolute;
	display:				table;
	height:					240px;
	width:					400px;
	color:					@sunshine;
	background-color:		@ceruleanblue;
	z-index:				-1;
	.dummy-text {
		display:			table-cell;
		text-align:			center;
		vertical-align:		middle;
	}
	.manu-triangle-left {
		position:			absolute;
		display:			table;
		height:				240px;
		width:				24px;
		top:				0px;
		left:				0px;
		.manu-triangle-left-mark {
			display:		table-cell;
			height:			100%;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
	.manu-triangle-right {
		position:			absolute;
		display:			table;
		height:				240px;
		width:				24px;
		top:				0px;
		left:				376px;
		.manu-triangle-right-mark {
			display:		table-cell;
			height:			100%;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
	.manu-triangle-down {
		position:			absolute;
		display:			table;
		height:				24px;
		width:				400px;
		bottom:				0px;
		left:				0px;
		-webkit-app-region:	no-drag;
		cursor:				default;
		.manu-triangle-down-mark {
			display:		table-cell;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
}
.temp-window{
	position:				absolute;
	display:				table;
	height:					240px;
	width:					400px;
	color:					@sunshine;
	background-color:		@ceruleanblue;
	z-index:				-1;
	.dummy-text {
		display:			table-cell;
		text-align:			center;
		vertical-align:		middle;
	}
	.temp-triangle-left {
		position:			absolute;
		display:			table;
		height:				240px;
		width:				24px;
		top:				0px;
		left:				0px;
		.temp-triangle-left-mark {
			display:		table-cell;
			height:			100%;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
	.temp-triangle-right {
		position:			absolute;
		display:			table;
		height:				240px;
		width:				24px;
		top:				0px;
		left:				376px;
		.temp-triangle-right-mark {
			display:		table-cell;
			height:			100%;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
	.temp-triangle-down {
		position:			absolute;
		display:			table;
		height:				24px;
		width:				400px;
		bottom:				0px;
		left:				0px;
		-webkit-app-region:	no-drag;
		cursor:				default;
		.temp-triangle-down-mark {
			display:		table-cell;
			text-align:		center;
			vertical-align:	middle;
			font-size:		16pt;
			color:			@sunshine;
			z-index:		90;
		}
	}
}
.reload-btn {
	position:			absolute;
	height:				32px;
	width:				32px;
	left:				0px;
	top:				208px;
	font-size:			20pt;
	z-index:			100;
	color:				@sunshine;
}
